<% provide :title, 'About' %>
<div class="center jumbotron">
  <p>This site manages a list of tax-preparation assistance sites run by VITA (Volunteer Income Tax Assistance) in San Antonio, Texas.</p>

  <p>You don't need to register to check site status, just if you're working for VITA. 
  Even then, you probably don't need to register here unless someone told you to when you volunteered to become a Site Coordinator.</p>
  <%= link_to 'New site coodinator? Register now!', register_path, class: 'btn btn-lg btn-primary' %>
</div>


