<% provide :title, 'Contact Us' %>
<h1>VITA Site Finder ContactUs</h1>
<p>If you have bug reports on the website, you can email me at <a href="mailto:chriscox@abandonedfactory.net">chriscox@abandonedfactory.net</a>, or make feature requests/bug reports on the <a href="https://github.com/Klaital/vitasa-web">Github repo</a>.</p>
