<h1>Editing Notification Registration</h1>

<%= render 'form', notification_registration: @notification_registration %>

<%= link_to 'Show', @notification_registration %> |
<%= link_to 'Back', notification_registrations_path %>
