<footer class="footer">
  <small>
    Find a tax assistance site in San Antonio!
  </small>
  <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <% if logged_in? %>
          <li><%= link_to I18n.t('feedback'), new_suggestion_path %></li>
        <% else %>
          <li><%= link_to 'Contact Us', contact_path %></li>
        <% end %>
      </ul>
  </nav>

</footer>
